[package]
name = "zec-zeth"
description = ""
version = "0.4.0"
edition = "2021"

[workspace.package]

[profile.release]
opt-level = 3
lto = true
codegen-units = 1
panic = "abort"

[dependencies]
bincode = "1.3.3"
revm = { version = "31.0.2", default-features = false, features = [
    "std",
    # "c-kzg",
    "blst",
    "portable",
    "bn",
] }

# zeth-core = { git = "https://github.com/boundless-xyz/zeth.git", rev = "e8460d3e516fa01e45f00366b233d7d8e5cb8e67" }
# zeth-chainspec = { git = "https://github.com/boundless-xyz/zeth.git", rev = "e8460d3e516fa01e45f00366b233d7d8e5cb8e67" }
zeth-core = { path = "../../../../zeth/crates/core" }
zeth-chainspec = { path = "../../../../zeth/crates/chainspec" }
alloy-primitives = { version = "1.4.1", default-features = false, features = ["std", "map", "map-fxhash"] }

ziskos = { git = "https://github.com/0xPolygonHermez/zisk.git", tag = "v0.14.0" }
# Local development
# ziskos = { path = "../../../../zisk/ziskos/entrypoint" }


[patch.crates-io]
# Enable this for deterministic Hashmap sort
alloy-evm ={ path = "../../../../alloy-evm/crates/evm" }
alloy-primitives = { path = "../../../../core/crates/primitives" }

# sha2 = { git = "https://github.com/0xPolygonHermez/zisk-patch-hashes.git", branch = "fix/bls" }
# sha3 = { git = "https://github.com/0xPolygonHermez/zisk-patch-hashes.git", branch = "fix/bls" }
# tiny-keccak ={ git = "https://github.com/0xPolygonHermez/zisk-patch-tiny-keccak.git", branch = "zisk" }
# k256 = { git = "https://github.com/0xPolygonHermez/zisk-patch-elliptic-curves.git", branch = "fix/bls" }
# # bn = { git = "https://github.com/0xPolygonHermez/zisk-patch-bn.git", tag = "patch-0.6.0-zisk-0.14.0", package = "substrate-bn" }
# # KZG Precompile
# # kzg-rs = { git = "https://github.com/0xPolygonHermez/zisk-patch-kzg.git", tag = "patch-0.2.7-zisk-0.14.0" }
# # sp1_bls12_381 = { git = "https://github.com/0xPolygonHermez/zisk-patch-bls12-381.git", tag = "patch-0.8.0-zisk-0.14.0" }
# # # BLS12-381 Precompiles
# ark-bls12-381 = { git = "https://github.com/0xPolygonHermez/zisk-patch-ark-algebra.git", branch = "fix/bls" }
# ark-ec = { git = "https://github.com/0xPolygonHermez/zisk-patch-ark-algebra.git", branch = "fix/bls" }
# ark-ff = { git = "https://github.com/0xPolygonHermez/zisk-patch-ark-algebra.git", branch = "fix/bls" }
# ark-bn254 = { git = "https://github.com/0xPolygonHermez/zisk-patch-ark-algebra.git", branch = "fix/bls" }
# ark-serialize  = { git = "https://github.com/0xPolygonHermez/zisk-patch-ark-algebra.git", branch = "fix/bls" }
# Local development
# sha2 = { path = "../../../../zisk-patch-sha2/sha2" }
tiny-keccak = { path = "../../../../zisk-patch-tiny-keccak" }
sha3 = { path = "../../../../zisk-patch-sha3/sha3" }
# k256 = { path = "../../../../zisk-patch-k256/k256" }
# bn = { path = "../../../../zisk-patch-bn", package = "substrate-bn" }
# # KZG Precompile
# kzg-rs = { path = "../../../../zisk-patch-kzg" }
# sp1_bls12_381 = { path = "../../../../zisk-patch-bls12-381" }
# # BLS12-381 Precompiles
# ark-bls12-381 = { path = "../../../../zisk-patch-ark-algebra/curves/bls12_381" }
# ark-ec = { path = "../../../../zisk-patch-ark-algebra/ec" }
# ark-ff = { path = "../../../../zisk-patch-ark-algebra/ff" }
# ark-bn254 = { path = "../../../../zisk-patch-ark-algebra/curves/bn254" }
# ark-serialize = { path = "../../../../zisk-patch-ark-algebra/serialize" }

[patch."https://github.com/paradigmxyz/reth.git"]
# Enable this for deterministic Hashmap sort
reth-trie-common = { path = "../../../../reth/crates/trie/common" }
