[package]
name = "zec-zeth"
description = ""
version = "0.4.0"
edition = "2021"

[workspace.package]

[profile.release]
opt-level = 3
lto = true
codegen-units = 1
panic = "abort"

[dependencies]
bincode = "1.3.3"
zeth-core = { git = "https://github.com/boundless-xyz/zeth.git", rev = "e8460d3e516fa01e45f00366b233d7d8e5cb8e67" }
zeth-chainspec = { git = "https://github.com/boundless-xyz/zeth.git", rev = "e8460d3e516fa01e45f00366b233d7d8e5cb8e67" }
# Local development
# zeth-core = { path = "../../../../rsp/crates/executor/client" }
# zeth-chainspec = { path = "../../../../zeth/chainspec" }

# ziskos = { git = "https://github.com/0xPolygonHermez/zisk.git", tag = "v0.14.0" }
# Local development
ziskos = { path = "../../../../../zisk/ziskos/entrypoint" }

# c-kzg = { version = "=2.1.5" }
blst = { version = "=0.3.15" }
revm = { version = "31.0.2", default-features = false, features = [
    "std",
    "portable",
    # "c-kzg",
    "blst",
    "bn",
] }

[patch.crates-io]
sha2 = { git = "https://github.com/0xPolygonHermez/zisk-patch-hashes.git", tag = "patch-sha2-0.10.9-zisk-0.15.0" }
tiny-keccak ={ git = "https://github.com/0xPolygonHermez/zisk-patch-tiny-keccak.git", tag = "patch-2.0.2-zisk-0.15.0" }
k256 = { git = "https://github.com/0xPolygonHermez/zisk-patch-elliptic-curves.git", tag = "patch-k256-0.13.4-zisk-0.15.0" }
substrate-bn = { git = "https://github.com/0xPolygonHermez/zisk-patch-bn.git", tag = "patch-0.6.0-zisk-0.15.0" }
# c-kzg = { git = "https://github.com/0xPolygonHermez/zisk-patch-c-kzg.git", tag = "patch-0.2.7-zisk-0.14.0" }
# blst = { git = "https://github.com/0xPolygonHermez/zisk-patch-blst.git", tag = "patch-0.3.7-zisk-0.14.0" }

# kzg-rs = { git = "https://github.com/0xPolygonHermez/zisk-patch-kzg.git", tag = "patch-0.2.7-zisk-0.14.0" }
# sp1_bls12_381 = { git = "https://github.com/0xPolygonHermez/zisk-patch-bls12-381.git", tag = "patch-0.8.0-zisk-0.14.0" }
# ark-bls12-381 = { git = "https://github.com/0xPolygonHermez/zisk-patch-ark-algebra.git", tag = "patch-0.5.0-zisk-0.14.0" }
# ark-ec = { git = "https://github.com/0xPolygonHermez/zisk-patch-ark-algebra.git", tag = "patch-0.5.0-zisk-0.14.0" }
# ark-ff = { git = "https://github.com/0xPolygonHermez/zisk-patch-ark-algebra.git", tag = "patch-0.5.0-zisk-0.14.0" }
# ark-bn254 = { git = "https://github.com/0xPolygonHermez/zisk-patch-ark-algebra.git", tag = "patch-0.5.0-zisk-0.14.0" }
# ark-serialize  = { git = "https://github.com/0xPolygonHermez/zisk-patch-ark-algebra.git", tag = "patch-0.5.0-zisk-0.14.0" }

# Local development
# sha2 = { path = "../../../../zisk-patch-sha2/sha2" }
# tiny-keccak = { path = "../../../../zisk-patch-tiny-keccak" }
# k256 = { path = "../../../../zisk-patch-k256/k256" }
# substrate-bn = { path = "../../../../zisk-patch-bn" }
# c-kzg = { path = "../../../../zisk-patch-c-kzg" }
blst = { path = "../../../../zisk-patch-blst/bindings/rust" }

# kzg-rs = { path = "../../../../zisk-patch-kzg" }
# sp1_bls12_381 = { path = "../../../../zisk-patch-bls12-381" }
# ark-bls12-381 = { path = "../../../../zisk-patch-ark-algebra/curves/bls12_381" }
# ark-ec = { path = "../../../../zisk-patch-ark-algebra/ec" }
# ark-ff = { path = "../../../../zisk-patch-ark-algebra/ff" }
# ark-bn254 = { path = "../../../../zisk-patch-ark-algebra/curves/bn254" }
# ark-serialize = { path = "../../../../zisk-patch-ark-algebra/serialize" }