build
target
tmp
/inputs
*.log
*zkevm-benchmark*
zkevm-fixtures*
fixtures
*-hints*
!bin/guests/stateless-validator-reth/ruint-hints/
!bin/guests/stateless-validator-reth/ruint-hints/**
*-inputs*
!bin/guests/stateless-validator-reth/ruint-inputs/
!bin/guests/stateless-validator-reth/ruint-inputs/**
metrics
hint_log
hints
tmp_scripts
