[package]
name = "zec-rsp"
description = ""
version = "0.4.0"
edition = "2021"

[workspace]

[profile.release]
opt-level = 3
lto = true
codegen-units = 1
panic = "abort"

[dependencies]
bincode = "1.3.3"
rsp-client-executor = { git = "https://github.com/succinctlabs/rsp.git", rev = "dff5c97aecab8dd33b70cf5b575904858a78efc3" }
# rsp-client-executor = { path = "../../../../rsp/crates/executor/client" }

ziskos = { git = "https://github.com/0xPolygonHermez/zisk.git", branch = "fix/bls" }
# Local development
# ziskos = { path = "../../../../../zisk/ziskos/entrypoint" }

[patch."https://github.com/succinctlabs/kzg-rs"]
kzg-rs = { git = "https://github.com/0xPolygonHermez/zisk-patch-kzg.git", branch = "fix/bls" }
# kzg-rs = { path = "../../../../zisk-patch-kzg" }

[patch.crates-io]
sha2 = { git = "https://github.com/0xPolygonHermez/zisk-patch-hashes.git", branch = "fix/bls" }
sha3 = { git = "https://github.com/0xPolygonHermez/zisk-patch-hashes.git", tag = "patch-sha3-0.10.8-zisk-0.14.0" }
k256 = { git = "https://github.com/0xPolygonHermez/zisk-patch-elliptic-curves.git", branch = "fix/bls" }
bn = { git = "https://github.com/0xPolygonHermez/zisk-patch-bn.git", branch = "fix/bls", package = "substrate-bn" }
sp1_bls12_381 = { git = "https://github.com/0xPolygonHermez/zisk-patch-bls12-381.git", branch = "fix/bls" }
ark-bls12-381 = { git = "https://github.com/0xPolygonHermez/zisk-patch-ark-algebra.git", branch = "fix/bls" }
ark-ec = { git = "https://github.com/0xPolygonHermez/zisk-patch-ark-algebra.git", branch = "fix/bls" }
ark-ff = { git = "https://github.com/0xPolygonHermez/zisk-patch-ark-algebra.git", branch = "fix/bls" }
ark-bn254 = { git = "https://github.com/0xPolygonHermez/zisk-patch-ark-algebra.git", branch = "fix/bls" }
ark-serialize  = { git = "https://github.com/0xPolygonHermez/zisk-patch-ark-algebra.git", branch = "fix/bls" }
# # Local development
# sha2 = { path = "../../../../zisk-patch-sha2/sha2" }
# sha3 = { path = "../../../../zisk-patch-sha3/sha3" }
# k256 = { path = "../../../../zisk-patch-k256/k256" }
# bn = { path = "../../../../zisk-patch-bn", package = "substrate-bn" }
# # KZG Precompile
# kzg-rs = { path = "../../../../zisk-patch-kzg" }
# sp1_bls12_381 = { path = "../../../../zisk-patch-bls12-381" }
# # BLS12-381 Precompiles
# ark-bls12-381 = { path = "../../../../zisk-patch-ark-algebra/curves/bls12_381" }
# ark-ec = { path = "../../../../zisk-patch-ark-algebra/ec" }
# ark-ff = { path = "../../../../zisk-patch-ark-algebra/ff" }
# ark-bn254 = { path = "../../../../zisk-patch-ark-algebra/curves/bn254" }
# ark-serialize = { path = "../../../../zisk-patch-ark-algebra/serialize" }
